FIREBASE_SERVICE_ACCOUNT_JSON=
GEMINI_API_KEY=
SUPABASE_PUBLISHABLE_KEY=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_URL=
VITE_API_BASE_URL=https://ais-dev-54ehh7ab2tw2wz6535wh2k-96926789601.europe-west2.run.app
VITE_GEMINI_API_KEY=
VITE_SUPABASE_PROJECT_ID=
VITE_SUPABASE_PUBLISHABLE_KEY=
VITE_SUPABASE_URL=